
@import "tailwindcss";


@theme {
    /*COLORS*/
    --color-primary: #333232;
    --color-secondary: #F5FBEE;
    --color-accent: #FFA630;
    
    /*FONTS*/
    --font-primary: 'Roboto', sans-serif;
}

body {
    background: url("../src/assets/images/background.jpg") no-repeat center center fixed;
}
